html, body {
    font-family: "Ruda",Arial,sans-serif;
    font-size: 20px;
	margin: 0;
	background: #111;
	height: 100%;
}

#content {
	min-height: 100%;
}

.violetB { background-color: #7627A8; }
.redB { background-color: #D41414; }
.yellowB { background-color: #F1C205; }
.blueB { background-color: #048FAD; }

.violetT { color: #7627A8 !important; }
.redT { color: #D41414 !important; }
.yellowT { color: #F1C205 !important; }
.blueT { color: #048FAD !important; }

ul.menu {
  list-style: none; overflow: hidden; position: relative;
}
ul.menu li {
  float: left; margin: 0 20px 0 0;
}

ul.menu li a{
    position:relative;
    display: block;
    width: 130px;
    height: 78px;
    padding-top: 52px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

ul.menu li a.title {
    margin-left: 20px;
    padding-top: 30px;
    width:auto;
    font-size: 60px;
}

ul.menu li a span{
  top: 55px;
  left: 30px;
  position:absolute;
}

h1 {
	background: none repeat scroll 0 0 #B10058;
    font-size: 56px;
    margin-top: 0;
	margin-bottom: 0px;
    opacity: 0.9;
    padding: 7px 0;
	color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
.cf{
    zoom:1;
}    

/* Form wrapper styling */
.form-wrapper {
    width: 450px;
    padding: 15px;
    margin: 30px auto 50px auto;
    background: #444;
    background: rgba(0,0,0,.2);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    width: 330px;
    height: 20px;
    padding: 10px 5px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}   
 
/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
   
.form-wrapper button:hover{    
    background: #e54040;
}  
   
.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #c42f2f;
    outline: 0;  
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #e54040;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #c42f2f;
}     
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    

#listTable th {
    background-color: #777;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    padding: 10px 8px;
    text-transform: uppercase;
}

#moviesTable {
    margin: 20px;
    padding: 20px;
}

#moviesTable th {
    color: #3465AA;
    font-size: 20px;
    text-align: left;
    font-weight: normal;
    margin-top: 10px;
    padding: 10px 8px;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    width: 100%;
}
#moviesTable td {
    color: #aaa;
    padding: 6px 8px;
    text-align: left;
    margin-top: 50px;
    border-spacing: 50px;
}
#moviesTable td{
    //background-color: #09AB90;
}
#moviesTable .spacer {
    height: 15px;
}
#listTable img {
    border: 1px solid #666666;
    max-width: 280px;
    background-color: #3465aa;
}
#moviesTable img {
    max-width: 100px;
    max-height: 100px;
}

ol, ul {
    list-style-image: none;
    list-style-type: none;
}

.listView .list-item {
    border-bottom: 1px solid #E5E5E5;
    height: 125px;
    padding: 15px 0 15px 135px;
    position: relative;
    z-index: 50;
}
.listView .list-item .photo {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DFDBD7;
    display: table;
    height: 123px;
    left: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    table-layout: fixed;
    text-align: center;
    top: 15px;
    width: 123px;
}
.listView .list-item .photo a {
    display: table-cell;
    height: 123px;
    text-align: center;
    vertical-align: middle;
    width: 123px;
}
.listView .list-item .photo img {
    max-height: 123px;
    max-width: 123px;
}
.listView .list-item h3 {
    width: 160px;
}
.listView .list-item h3 {
    color: #534741;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 200px;
    word-wrap: break-word;
}
.listView .attribute {
    position: absolute;
    right: 0;
    top: 15px;
}
.listView .attribute li:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.listView .list-item h3 a {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal !important;
    line-height: 16px;
}
.productAttribute {
    font-family: Arial;
    font-size: 11px;
}

