- attributes("title") = "Welcome to Learn By Subtitles"

#actions
  a(href="subtitles" class="menuAction violetB left") Subtitles
  a(href="movies" class="menuAction redB right") Add Movies
  a(href="subtitles" class="menuAction yellowB left") History
  a(href="movies" class="menuAction blueB right") My Movies