-@ val titleName: String
-@ val titleClass: String

#actions
  ul(class="menu")
    li
      a(href="subtitles" class="menuAction violetB") Subtitles
    li
      a(href="movie" class="menuAction redB") Add Movies
    li
      a(href="history" class="menuAction yellowB") History
    li
      a(href="movies" class="menuAction blueB") My Movies
    li
      a(class="title #{titleClass}")= titleName