
#actions
  ul(class="menu")
    li
      a(href="subtitles" class="menuAction violetB")
        span Subtitles
    li
      a(href="movies" class="menuAction redB")
        span Add Movies
    li
      a(href="subtitles" class="menuAction yellowB")
        span History
    li
      a(href="movies" class="menuAction blueB")
        span My Movies