- attributes("title") = "Welcome to Movie Search"
- attributes("headline") = "Enter Title"
-@ val imdbId: String
-@ val subtitles: String

:javascript
    function something() {
        var title = $('#imdbSearchInput').val();
        if(id.length > 0) {
            window.location = window.location = "/movies?title=" + title;
        } else {
            alert('Inappropriate Value');
        }
    }

h1= "Searching subtitles for " + imdbId

#imdbSearch
    input(id="imdbSearchInput" type="text" name="user")
    input(type="button" value="Click Me!" onclick="something();")

pre= subtitles