- attributes("titleName") = "Movies"
- attributes("titleClass") = "blueT"
- attributes("title") = "My Movies"
- render("menu.jade")

-@ val movies: List[com.github.fedeoasi.app.model.Movie]
-@ val subsUrlBase: String = "/subtitles?imdbid="

#moviesTable
    table
        thead
            tr
                th
                th Title
                th Year
                th ImdbId
                th Subtitles
        tbody
        - for(movie <- movies) {
        tr
            td
                img(src={movie.posterUrl})
            td= {movie.title}
            td= {movie.year}
            td= {movie.imdbID}
            td
                a(href={subsUrlBase + movie.imdbID}) Subtitles
        tr(class="spacer")
        - }