-@ val newLocation: String

#search2
    div(class='form-wrapper cf')
        input(type='text' id="imdbSearchInput" placeholder='Search here...' required='')
        button(type='submit' onclick='something();') Search

:!javascript
    function something() {
        var title = $('#imdbSearchInput').val();
        if(title.length > 0) {
            window.location = "#{newLocation}" + title;
        } else {
            alert('Inappropriate Value');
        }
        return false;
    }
