-@ val results: List[com.github.fedeoasi.app.search.DisplayableSubtitleResult]
-@ val subsUrlBase: String = "/subtitles?imdbid="
- attributes("newLocation") = "/search?query="
- attributes("title") = "Search through subtitles"
- attributes("titleName") = "Search"
- attributes("titleClass") = "redT"
- render("menu.jade")
- render("searchBox.jade")

- if(!results.isEmpty) {
#resultsTable.standardTableDiv
    table(class="standardTable")
        thead
            tr
                th
                th(class="title") Title
                th SubtitleId
                th Score
        tbody
        - for(result <- results) {
        tr
            td(class="first image")
                img(src={result.movie.posterUrl})
            td= {result.movie.title}
            td= {result.subtitleId}
            td= {result.score}
        tr(class="spacer")
        - }
- }

    - if(!results.isEmpty) {
    - var index = 1
    -   for(result <- results) {
        div(id="result#{result.subtitleId}" class="standardTableDiv")
            -  attributes("subtitles") = result.entries
            -  render("subtitlesTableDiv.jade")
    -       index += 1
    -   }
    - }

