-@ val results: List[com.github.fedeoasi.app.search.SubtitleSearchResult]
-@ val subtitleList: List[List[com.github.fedeoasi.app.model.SubEntry]]
-@ val subsUrlBase: String = "/subtitles?imdbid="
- attributes("newLocation") = "/search?query="
- attributes("title") = "Search through subtitles"
- attributes("titleName") = "Search"
- attributes("titleClass") = "redT"
- render("menu.jade")
- render("searchBox.jade")

- if(!results.isEmpty) {
#resultsTable.standardTableDiv
    table(class="standardTable")
        thead
            tr
                th SubtitleId
                th MovieId
                th Score
        tbody
        - for(result <- results) {
        tr
            td= {result.subtitleId}
            td= {result.movieId}
            td= {result.score}
        tr(class="spacer")
        - }
- }

#subtitlesTable.standardTableDiv
    - if(!subtitleList.isEmpty) {
    -   attributes("subtitles") = subtitleList(0)
    -   render("subtitlesTableDiv.jade")
    - }

