-@ val imdbId: String
-@ val subtitles: List[com.github.fedeoasi.app.model.SubEntry]
- attributes("title") = "Showing subtitles for " + imdbId
- attributes("titleName") = "Subtitles"
- attributes("titleClass") = "violetT"

- render("menu.jade")

#subtitlesTable.standardTableDiv
  - render("subtitlesTableDiv.jade")