-@ val imdbId: String
-@ val subtitles: List[com.github.fedeoasi.app.model.SubEntry]
- val timeFormat = new java.text.SimpleDateFormat("HH:mm:ss,SSS")
- attributes("title") = "Showing subtitles for " + imdbId
- attributes("titleName") = "Subtitles"
- attributes("titleClass") = "violetT"

- render("menu.jade")

#moviesTable
    table
        thead
            tr
                th #
                th Start
                th Stop
                th Text
        tbody
        - for(se <- subtitles) {
        tr
            td= {se.number}
            td= {timeFormat.format(se.start)}
            td= {timeFormat.format(se.stop)}
            td
                ! #{se.text}
        tr(class="spacer")
        - }
